<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.helloandroid.project5"
    android:appComponentFactory="whateverString"
    tools:replace="android:appComponentFactory">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/piggybank"
        android:label="TMT BANK"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name="com.helloandroid.project5.MainActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name="com.helloandroid.project5.ChatActivity"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.helloandroid.project5.ReviseActivity"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.helloandroid.project5.GraphActivity"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.imnobody.tmtbank.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider" />
        </provider>

        <activity android:name="com.helloandroid.project5.PopActivity" />

        <receiver android:name="com.helloandroid.project5.Notification" />

        <activity
            android:name="com.helloandroid.project5.SelectedList"
            android:label="@string/title_activity_selected_list"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.helloandroid.project5.PopupActivity"
            android:label="@string/title_activity_popup"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="com.helloandroid.project5.ItemSearch"
            android:label="ITEM SEARCH"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme" />
    </application>

</manifest>